*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}
.text-color{
    color: #3fda85;
}
a{
    text-decoration: none;
}
h1{
    font-size: 50px;
    font-weight: 700;
    color: #444242;
}
p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    padding: 30px 0;
}
.pb{
    padding-bottom: 100px;
}
#header{
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 100vh;
  
}
nav{
    width: 80%;
    margin: 20px auto;
    display: flex;
}
.logo{
    width: 20%;
    flex-basis: 1;
}
.logo a{
      width: 200px
}
.logo .logo-text{
  
    font-size: 20px;
    font-weight: 800;
    color: rgb(86, 122, 230);
}
.nav-links{
    flex: 1;
    text-align: right;

}
.nav-links ul li{
    list-style-type: none;
    display: inline-block;
    text-align: center;
    padding: 5px 20px;

}
.nav-links ul li a{
    color: #302e2e;
    font-weight: 600;
    transition: all 0.5s;
}
.nav-links ul li a:hover{
    color:#34f394;
}

.top-banner{
    display: flex;
    padding: 0 50px;
}
.text-area{
    width: 50%;
    padding-top: 100px;
    padding-left: 50px;

}
.linkBtn{
    background: linear-gradient(to right, #f1720a, #f32f2f);
    padding: 10px 30px;
    border-radius: 50px;
    color: #fff;
    font-weight: 600;
    
}
.linkBtn:hover{
    background: linear-gradient(to right, #f1720ac5, #f32f2fc2);
    
}
.img-area{
    width: 40%;
    padding: 0 5%;
    
}
img{
    width:100%;
    height: 80vh;
}
#about{
    width: 100%;
    height: 80vh;
    background-image: url(img/about-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

#recipie{
    width: 100%;
    padding-top: 100px;
}
.title-text{
    width: 700px;
    text-align: center;
    margin: 0 auto;
}

.recipie-container{
   padding: 25px 200px;
    display: flex; 
    align-content: space-between;
    justify-content: space-between;
}
.card{
    width: 25%;
    /* border: 1px solid #ccc; */
    padding: 16px;
    border-radius: 15px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    transition: all 0.5s;
}
.card:hover{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
.card-img{
    width: 100%;
    height: 100%;
    
}
.card img{
    width: 100%;
    height: 200px;
}
.card-body{
    padding-top: 40px;
}
.card-body h3{
    font-size: 28px;
    line-height: 16px;
    color:#313131;
}
.counter-area{
    box-sizing: border-box;
    width: 90%;
    display: flex;
    padding: 40px 200px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    margin: 50px auto;
    justify-content: space-between;
}

input{
    box-sizing: border-box;
    display: block;
    margin: 20px 0;
    width: 60%;
    border-radius: 10px;
    height: 30px;
    border: 2px solid #7fac95;
    padding: 3px 10px;
    
}
input:focus, textarea:focus{
    border: none;
}
input[type=submit]{
    background: linear-gradient(to right, #f1720ac5, #f32f2fc2);
   font-size: 16px;
   font-weight: 600;
   border: none;
   cursor: pointer;
}
textarea{
    box-sizing: border-box;
    display: block;
    margin: 20px 0;
    width:60%;
    border-radius: 10px;
    border:2px solid #7fac95;
    padding: 3px 10px;
}

footer .footer-top{
    box-sizing: border-box;
    width: 90%;
    padding: 50px 5%;
    display: flex;
    justify-content: space-between;
    text-align: left;
    /* margin: 0 auto; */
}
footer .footer-top div img{
    height: 150px;
}
footer .footer-top div ul{
    list-style: none;
    margin-top: 30px;
    font-weight: 700;
    /* text-align: left; */
}
.icons-area ul li{
    display: inline-block;
    font-size: 36px;
    margin-top: -3px;

}
footer .footer-top div ul li{
    padding: 10px;
}
footer .footer-top div ul a{
    color: #444242;
    transition: all 0.5s
}
footer .footer-top div ul li a:hover{
    color: #34f394
}
footer{
    background:#ece6e6;
    text-align: center;
}
footer .designer{
    font-size:8px;
    color: #7fac95;
}
